.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 55px;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.menu {
    float: right;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    float: left;
    display: inline-block;
    position: relative;
}

img{
    width:15%;
    height:15%;
    margin: 0;
    float: left;
    padding-left: 5px;
}

li a:hover {
    color: #707070;
}

section#about{
    padding-top: 200px;
    line-height: 2;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    padding-left: 40px;
    padding-right: 40px;
  }

 .boks {
     background-color: #ffdb00;
     padding: 40px;
 }



 /*----------- Sefa - Contact section -----------*/
 html {
   box-sizing: border-box;
   background-color:
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }
 section#contact{
   padding:50px 200px;
   line-height: 2;
   text-align: center;
 }

 #contact form{
   background-color: #ffdb00;
   padding: 40px 30px;
 }

 form .radr{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-align: left;
 }
 form input:focus,form textarea:focus{
   outline: none;
 }
 form input,form textarea{
   padding: 10px;
   width: 100%;
   padding:15px 10px;
   border:0;
 }

 form .kolonr{
   padding: 10px;
   width: 100%;
 }
 .rad{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   justify-content: center;
   align-items: center;
   margin-top:50px;
 }

 .rad>div {
   flex: 0 33.3333%;
   box-sizing:border-box
 }

 .kolonne{
   display: flex;
   flex-direction: column;
   width: 50%;
   padding: 30px;
   align-items: center;
 }
 .kolonne div.social{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
 }

 .kolonne div.social img{
   width: 100%;
   max-width: 70px;
   padding:20px;
 }
 .kolonne div.social a{
   transition: .25s;
 }
 .kolonne div.social a:hover{
   opacity: .2;
 }

 .send_btn{
   margin-top:40px;
   padding:15px 40px;
   background-color: #000;
   border:0;
   color:#fcc701;
   font-weight: bold;
   cursor:pointer;
   transition: .1s;
 }

 .send_btn:hover{
   opacity: .5;
 }

 .logo_rad{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }

 .social_logo{
   max-width: 40px;
   padding: 0 10px;
 }

/*Thanasis: Our Team*/

body{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;
background-color: white;
}

/*columns*/
.row{
  background-color: #ffdb00;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row2 {
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.column {
  width: 400px;
  padding: 10px;
  margin-left: 20px;
  float: left;
}

.column-row2 {
  width: 1400px;
  padding: 10px;
}

.column2 {
  width: 1400px;
  padding: 10px;
}

.column2-row2 {
  width: 400px;
  padding: 10px;
  margin-left: 20px;
  float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/*columns*/

/*text*/
.column2 p{
  margin-top: 20px;
  margin-bottom: auto;
  display: block;
  margin-left: 40px;
  text-align: left;
  line-height: 25px;
  font-weight: 600px;
  line-height: 30px;
}

.column2 h1{
  text-align: left;
  margin-top: 90px;
  margin-left: 40px;
}

.column-row2 p{
  margin-top: 20px;
  margin-bottom: auto;
  display: block;
  margin-right: 20px;
  margin-left: 40px;
  text-align: left;
  line-height: 25px;
  font-weight: 600px;
  line-height: 30px;
}

.column-row2 h1{
  text-align: left;
  margin-top: 90px;
  margin-left: 40px;
}

h2{
  margin-top: 20px;
  padding: 20px;
  font-size: 4em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display:block;
}
/*text*/

/*pictures*/
.column img {
  margin: 10px;
  width: 100%;
  height: auto;
  border: 3px solid black;
  border-radius: 3px;
}

.column2-row2 img {
  margin: 10px;
  width: 100%;
  height: auto;
  border: 3px solid #ffdb00;
  border-radius: 3px;
}
/*pictures*/
/*Thanasis: Our Team*/

 footer{
   background-color: rgb(230, 230, 230);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 30px 150px;
   font-weight: 900;
 }


/*---------Innovation Camp Schedule-------*/

.wrapper{
height: 120vh;
width: auto;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-gap: 10px;
position: relative;
}

.box2{
margin: 30px;
}

.text{
margin: 20px;
line-height: 1.3;
}

.text h1 span{
color: #FFD200;
font-size: 40px;
}

.text h1{
margin: 30px;
}

.btn{
background: #FFD200;
color: black;
text-decoration: none;
cursor: pointer;
margin-left: 80px;
padding: 20px;
font-size: 20px;
position: absolute;
transition: 1s ease;
border-radius: 4px;
}

.btn:hover{
background:black;
letter-spacing: 3px;
color: white;
}

.box{
background: #FFD200;
width: 93%;
height: 93%;
margin: 10px;
line-height: 1.3;
}

		
.schedule{
margin: 10px;
padding: 5px;
}

.schedule h1, h3, p{
padding: 3px;
}

.schedule span{
font-size: 50px;	
}

.schedule h1{
text-align: center;
margin-bottom: 30px;
}

.schedule1{
margin: 10px;
padding: 5px;
}

.box .schedule:after{
content:'';
background: #111;
display: block;
height: 3px;
width: 600px;
margin:15px auto;
border-radius: 5px;
}


